@font-face{ /**/
  src: url("fonts/treeR.ttf");
  font-family: "Tree";
}
@font-face{ /**/
  src: url("fonts/THE_candybar.ttf");
  font-family: "Candy";
}
* {
  box-sizing: border-box;
}
body{
	margin: 0;
  	min-width: 992px;
  	

  	font-family: "Tree";
}








.cafe::-webkit-scrollbar {
    width: 15px;
    

  }
  .cafe::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.35);
    border-radius: 10px;
  }
  .cafe::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.swal-title{
  padding-top: 40px;
  

  font-size: 30px;
  font-weight: bold;
}
.swal-text{
  margin-bottom: 20px;
  

  font-size: 30px;
  font-weight: bold;
}

.back{
  height: 430px;

  background-image: url("images/back_3.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;


}


.con{
  /*margin-left: 400px;
  margin-right: 200px;*/
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

h1{
 
  

}

.random img{

  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.random img:hover{

  transform: rotate( 720deg );
  transition-duration: 2s;
}





.dropbtn {
  background-color: rgba(0,0,0,0.15);
  /*color: white;*/
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 10px;


  font-size: 35px;
  border: none;
  border-radius: 15px;
  font-family: 'Open Sans Condensed';


}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Tree";
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: /*#f1f1f1*/rgba(0,0,0,0.5);
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
  border-radius: 15px;

  margin-top: 5px;

}

.navbar #gate li .dropdown-content a {

  font-family: "Candy";
  font-size: 30px;
  
  text-align: center;
  color: /*rgba(255,255,255,0.7)*/#DEDEDE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

/*.dropdown-content a:hover {background-color: rgba(255,255,255,0.3); border-radius: 15px;}*/

.dropdown:hover .dropdown-content {display: block;}








.navbar{
  height: 90px;
  width: 1800px;
  margin-left:auto;
  margin-right:auto;
  padding-left: auto;
  padding-right: auto;
  padding-top: 15px;
  background-color: white/*rgb(0,0,0,0.45)*/;

}

.navbar #logo img{
  float: left;
  display: block;
  /* margin-left: auto;
  margin-right: auto;  */
  margin-top: 0px;
  margin-bottom: 65px;
  margin-right: 30px;
  margin-left: 80px;

  line-height: 90px;
  text-align: middle;
}
.navbar #gate{
  
  float: right;
  list-style: none;
  padding: 0px;
  /*margin-left: 70px;*/
  margin-right: 0px;
  /*border-radius: 10px;*/

}
.navbar #gate li{
  float:left;

  line-height: 40px;

}
.navbar #gate li a{
  /*font-family: 'Roboto Mono', monospace;*/
  font-family: 'Open Sans Condensed';
  color:  #5D6D7E ;
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;  
  /*border-left: 3px solid rgba(2, 141, 193, 0.7);*/

  padding-left: 40px ;
  padding-right: 40px;

  /*padding: 0px 20px;*/
}
.navbar #gate li #all{
  color: #C00000;
}
#gate li a.active{
  font-weight: normal;
}
#gate li a:hover:not(.active){
  font-weight: bold;
  /*font-size: 36px;*/
 /* text-shadow: 1px 2px 2px #5D6D7E;*/
  line-height: 40px;
  color: rgba(0,0,0,0.8);

}

.logo img{

  vertical-align: middle;
  
  margin-top: 25px;
  margin-left: 50px;
  margin-bottom: 35px;
}

.container{

  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;

}

.random{
  float: left;
  width: 100px;

  margin-right: 0px;
}

.buttons{
  border: 0;
  outline: 0;
  background-color: white;
}

.cafe{
  float: left;
  background-color: /*rgba(231,211,187,0.3);*/rgba( 93,109,126, 0.1 );
  width: 600px;
  height:  800px;
  
  
  margin-right: 45px;
  margin-left: 55px;
  margin-bottom: 50px;
  
  padding: 30px;
  
  text-align: left;
  font-size: 30px;
  
  border-radius: 25px; 
  
  

  overflow: auto;

}

.cafe h6{
  margin-left: 20px;
}
.cafe h3{
  margin-left: 20px;
}



.map{

  float: left;

  background-color: rgba( 255, 255, 255, 0.7 );
  width: 700px;
  height:  800px;

  

  border-radius: 30px;

  /*border: 2px solid rgba(0,0,0,0.5); */
  
}

.result_cafe{
	
	margin-top:30px;

	border-top: 1px solid rgba(0, 0, 0, 0.5); 
	border-bottom: 1px solid rgba(0, 0, 0, 0.5); 
}

.result_cafe h6{
	margin-top: 25px;
	margin-bottom: 25px;
}

.result_menu ul{
	margin-left: 10px;
	/*padding-left: -10px;*/
	margin-bottom: 10px;
	margin-top: 10px;
}
.result_menu h6{
  margin-bottom: 15px;
  margin-top: 15px; 
}





