@font-face{
  src: url("fonts/old_photo4.ttf");
  font-family: "photo";
}

* {
  box-sizing: border-box;
}
body{
	margin: 0;
  min-width: 992px;
  background-color: #7A5B45;
}
.back{
	height: 900px;

	background-image: url("images/background_3.png");
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center center;
}
/*.navbar{
  height: 80px;
  padding-left: 30px;
  padding-right:60px;
  background-color: #f0e8d9;
  font-family: 'Roboto Mono', monospace;
  
}*/
.logo{

}
.logo img{
  vertical-align: middle;
  
  margin-top: 25px;
  margin-left: 50px;
  margin-bottom: 65px;
}

#menu{
  float: right;
  list-style: none;
  padding: 10px;
  margin-right: 30px;


}
#menu li{
  float:left;
  /*margin-right: 45px ;*/
  line-height: 80px;

}
#menu li a{
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  
  
  border-left: solid #EEB148;
  /*border-radius: 15px;*/
  padding: 0px 45px;
}

.cafe-container{

  width: 1100px;
  margin-right: auto;
  margin-left: auto;

}

.cafe{
  float: left;
 
 
  background-color: white;
  width: 500px;
  height:  200px;
  font-family: "photo" ;
  
  margin-right: 25px;
  margin-left: 25px;
  text-align: left;
  font-size: 32px;
  color: #58595B;
  padding-bottom: 20px;
  overflow: hidden;
  border-radius: 10px; 
  margin-bottom: 50px;

}

p{ /*지우면 됩니다*/
  font-family: "photo" ;
  font-size: 30px;
}
