@font-face{
  src: url("fonts/old_photo4.ttf");
  font-family: "Pho";
}
@font-face{
  src: url("fonts/HoonMakdaeyunpilR.ttf");
  font-family: "pencil";
}
@font-face{
  src: url("fonts/Dacncing_Script/DancingScript-VariableFont_wght.ttf");
  font-family: "dancing";
}
* {
  box-sizing: border-box;
}

.hero-header{
  height: 500px;
  background-image: url("images/back_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

body{
   margin: 0;
  min-width: 992px;
 
} 
/* .back{
  height: 600px;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 
  
} */



.navbar{
  height: 100px;
  width: 1400px;
  margin-left:auto;
  margin-right:auto;
  padding-left: auto;
  padding-right: auto;
  padding-top: 15px;

}

.navbar #logo img{
  float: left;
  display: block;
  /* margin-left: auto;
  margin-right: auto;  */
  margin-top: 0px;
  margin-bottom: 65px;
  margin-right: 30px;
  margin-left: 100px;
}

.navbar #gate{
  
  float: right;
  list-style: none;
  padding: 0px;
  /*margin-left: 70px;*/
  margin-right: 0px;
  /*border-radius: 10px;*/

}
.navbar #gate li{
  float:left;

  line-height: 40px;

}
.navbar #gate li a{
  font-family:'Roboto Mono';
  color:  #5D6D7E ;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;  
  border-left: 3px solid rgba(2, 141, 193, 0.7);

  padding-left: 40px ;
  padding-right: 40px;

  /*padding: 0px 20px;*/
}
#gate li a.active{
  font-weight: normal;
}
#gate li a:hover:not(.active){
  font-weight: bolder;
  text-shadow: 1px 2px 2px #5D6D7E;
  line-height: 40px;
  color:#BDC3C7;

}
/* ul#menu{
  float: left;
  width: 250px;
  text-indent:10px;

}
ul#menu, ul#menu ul{
  margin-top: 70px;
  padding:0;
  list-style: none;
}
#menu li{
  float:none;
  
  margin-bottom: 3px;
  line-height: 70px;
  
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  
}
#menu li a{
  display: block;
  width:100%;
  height:100%;
  font-family: 'Roboto Mono';
  
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;  
  
  color: white;
  padding: 0px 20px;
}
#menu li a.active{
  color: white;
}
#menu li a:hover:not(.active){
 
  background-color: rgba( 255, 255, 255, 0.4 );
  color: black;

} */
.cafe-container{

  width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 100px;

}

.right-bottom{
  margin-top:50px;
  margin-right: auto;
  margin-left: auto;

  
}

.right-bottom h2{
  font-size: 35px;
  color: #5D6D7E;
  margin-top: 60px;
  margin-bottom:60px;
  text-align: center;
  width:100%;
  padding:0;
  font-weight: bold;
}
.right-bottom h2:after{
  display:inline-block; 
  margin:0 0 3px 20px;
  height: 1px;
  content: "";
  text-shadow: none;
  background-color: #5D6D7E;
  width:650px;
}
.right-bottom h2:before{
  display: inline-block;
  margin:0 20px 3px 0; 
  height: 1px;
  content:"";
  text-shadow:none;
  background-color:#5D6D7E;
  width:650px;

}

/* #recommend-cafe{
  color: #2E86C1;
  font-size: 35px;
  text-align: center;
  width: 500px;
  height: 80px;
  font-family: "Pho";
  padding: 20px 20px;
  border-radius: 40px;
  background-color: rgba( 255, 255, 255, 0.4 );
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
  

} */

.cafe{
  float: left;
  background-color: rgba( 93,109,126, 0.2 );
  width: 600px;
  height:  200px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  
  overflow: none;
  border-radius: 10px; 
}
.cafe.active{
  font-weight: normal;
}
.cafe:hover:not(.active){
  background-color: rgba( 93,109,126, 0.4 );
  

}
.cafe a{
  text-decoration: none;
  color: black;
  display: flex;
}
.image{
  height: 200px;
  width: 250px;
}

.image img {
  height: 200px;
  width: 250px;
  border-radius: 5px;
}
.information{
  text-align: center;
  height: 200px;
  width: 330px;
  float: left;
  font-family: "Pho" ;
  color: black; 
  /* margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 5px;
  margin-inline-end: 0px; */
  margin-left:auto;
  margin-right:auto;
}
.information h3{
  font-size:30px;
  font-weight: bold;
  margin-block-start: 45px;
  margin-block-end: 22px;
 
}
.information h6{
  font-size: 20px;
  font-weight: normal;
  margin-block-start: 10px;
  margin-block-end: 0;
  padding-left:auto;
  padding-right:auto;
}








.reco-cafe{
  float: left;
  background-color: rgba(93,109,126, 0.2 );
  width: 600px;
  height:  200px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  padding-right: 10px;
  overflow: none;
  border-radius: 10px; 
  z-index: 1;
}
.reco-cafe.active{
  font-weight: normal;
}
.reco-cafe:hover:not(.active){
  background-color: rgba( 93,109,126, 0.5 );
  

}
.reco-cafe a{
  text-decoration: none;
  color: black;
  display: flex;
}
/* #reco-cafe{
  font-size: 20px;
  font-weight: normal;
  margin-block-start: 20px;
  margin-block-end: 0;
  margin-inline-start: 5px;
  margin-inline-end: 0px;

} */
/* .reco-cafe h3{
  font-size:30px;
  font-weight: bold;
  margin-block-start: 5px;
  margin-block-end: 20px;
  margin-inline-start: 5px;
  margin-inline-end: 0px;
} */
@-webkit-keyframes sparkle {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 200% 100%;
  }
}

@keyframes sparkle {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 200% 100%;
  }
}

@font-face {
  src: url("fonts/Dacncing_Script/DancingScript-VariableFont_wght.ttf");
  font-family: "dancing";
}

#reco-deco {
  background-color: none;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  color: black;
  font-size: 30px;
  font-weight: bold;
  -webkit-margin-before: 45px;
          margin-block-start: 45px;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

#reco-deco:before {
  -webkit-animation: sparkle 4s infinite linear;
          animation: sparkle 4s infinite linear;
  background: -webkit-gradient(linear, left top, right top, from(#7FEFBD), color-stop(11%, #FFF689), color-stop(22%, #EC0B43), color-stop(33%, #7FEFBD), color-stop(44%, #FFF689), color-stop(55%, #EC0B43), color-stop(66%, #7FEFBD), color-stop(77%, #FFF689), color-stop(88%, #EC0B43), to(#7FEFBD));
  background: linear-gradient(90deg, #7FEFBD 0%, #FFF689 11%, #EC0B43 22%, #7FEFBD 33%, #FFF689 44%, #EC0B43 55%, #7FEFBD 66%, #FFF689 77%, #EC0B43 88%, #7FEFBD 100%);
  background-size: 300% 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  -webkit-margin-before: 0px;
          margin-block-start: -5px;
  border-radius: 4px;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  z-index: -1;
  -webkit-transform: scale(0.99) translateY(3px);
          transform: scale(0.99) translateY(3px);
}
/*# sourceMappingURL=styles_cafe_list.css.map */