@font-face{ /**/
  src: url("fonts/treeR.ttf");
  font-family: "Tree";
}
* {
  box-sizing: border-box;
}
body{
	margin: 0;
  	min-width: 992px;
  	background-color: #7A5B45;

  	font-family: "Tree";
}
.back{
	height: 900px;

	background-image: url("images/background_3.png");
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center center;
}

.logo img{

  vertical-align: middle;
  
  margin-top: 25px;
  margin-left: 50px;
  margin-bottom: 35px;
}

.container{

  
  margin-right: auto;
  margin-left: auto;

}

.cafe{
  float: left;
  background-color: rgba( 255, 255, 255, 0.5 );
  width: 500px;
  height:  700px;
  
  
  margin-right: 25px;
  margin-left: 55px;
  margin-bottom: 50px;
  
  padding: 30px;
  
  text-align: left;
  font-size: 15px;
  
  border-radius: 20px; 
  
  

}

.map{

  float: left;

  background-color: rgba( 255, 255, 255, 0.5 );
  width: 600px;
  height:  400px;

  border-radius: 20px; 
  
}

.info{
	margin-left: 40px; 
	margin-top:30px;
	margin-bottom:  30px;
}

