/*@import "reset.css";
@import "header.css";
@import "gate.css";
@import "list.css";
@import "results.css";
*/

@font-face{
	src: url("fonts/tvN Enjoystories Medium.ttf");
	font-family: "tvN";
}

* {
  box-sizing: border-box;
}
body{
	height: 900px;

	background-image: url("images/background_image.png");
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center center; 

}

.logo{ 

	line-height: 60px;
	vertical-align: middle;
	margin-left: 50px;
}

.gate{
	font-family: "tvN";
	color: white;
	font-size: 50px;
}
