<!DOCTYPE html>
<html>
  <head>
    <title>SimpleShop</title>
    <meta charset="utf-8" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'cafeyo/styles_cafe_list.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
  </head>

    <body>
      <script>
                function gate1() {
                  var host = window.location.host;
                  var path = window.location.pathname;
                  var gate_id;
                  gate_id = path[13];
                  if ( gate_id === '1' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=1 category_id=1 %}");}
                  else if ( gate_id === '2' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=2 category_id=1 %}");}
                  else if ( gate_id === '3' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=3 category_id=1 %}");}
                  else if ( gate_id === '4' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=4 category_id=1 %}");}
                }

                function gate2() {
                  var host = window.location.host;
                  var path = window.location.pathname;
                  var gate_id;
                  gate_id = path[13];
                  if ( gate_id === '1' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=1 category_id=2 %}");}
                  else if ( gate_id === '2' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=2 category_id=2 %}");}
                  else if ( gate_id === '3' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=3 category_id=2 %}");}
                  else if ( gate_id === '4' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=4 category_id=2 %}");}
                }
                function gate3() {
                  var host = window.location.host;
                  var path = window.location.pathname;
                  var gate_id;
                  gate_id = path[13];
                  if ( gate_id === '1' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=1 category_id=3 %}");}
                  else if ( gate_id === '2' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=2 category_id=3 %}");}
                  else if ( gate_id === '3' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=3 category_id=3 %}");}
                  else if ( gate_id === '4' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=4 category_id=3 %}");}
                }
                function gate4() {
                  var host = window.location.host;
                  var path = window.location.pathname;
                  var gate_id;
                  gate_id = path[13];
                  if ( gate_id === '1' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=1 category_id=4 %}");}
                  else if ( gate_id === '2' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=2 category_id=4 %}");}
                  else if ( gate_id === '3' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=3 category_id=4 %}");}
                  else if ( gate_id === '4' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=4 category_id=4 %}");}
                }
                function gate5() {
                  var host = window.location.host;
                  var path = window.location.pathname;
                  var gate_id;
                  gate_id = path[13];
                  if ( gate_id === '1' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=1 category_id=5 %}");}
                  else if ( gate_id === '2' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=2 category_id=5 %}");}
                  else if ( gate_id === '3' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=3 category_id=5 %}");}
                  else if ( gate_id === '4' ) {window.location.replace("{% url 'cafeyo:cafelist_category' gate_id=4 category_id=5 %}");}
                }

      </script>
     <div class="back">
        
        <a href="{% url 'cafeyo:index' %}" class="logo">
           <img src="{% static 'cafeyo/images/logo.png' %}" width="200">
        </a>



        <ul id="menu">
          <li><a href='javascript:void(0);' onclick="gate1();">Study</a></li>
           <li><a href='javascript:void(0);' onclick="gate2();">Franchise</a></li>
            <li><a href='javascript:void(0);' onclick="gate3();">24h</a></li>
             <li><a href='javascript:void(0);' onclick="gate4();">Take-out</a></li>
             <li><a href='javascript:void(0);' onclick="gate5();">Bakery</a></li>
        </ul>
        
      

      <h1>{{ gate.문이름 }}</h1>
      {% csrf_token %}

      
      <div>
        <div>추천카페: {{ random_cafe.카페명 }}</div>
      </div>
      {% for cafe in cafe_list %}
      <div class="cafe-container">
        <div class="cafe">
          <a href="{% url 'cafeyo:results' cafe.id %}">

            <img src="{% static 'cafeyo/images/cafe.png' %}" width="250" height="200">
            
            <h3>{{ cafe.카페명 }}</h3>
            <h6>전화번호: {{ cafe.전화번호 }}</h6>
            <h6>주소: {{ cafe.주소 }}</h6>
            <h6>영업시간: {{ cafe.영업시간 }}</h6>
            <h6>카테고리: {{ cafe.카테고리 }}</h6>
          </a>
        </div>
      {% endfor %}
      </div>

      </div>
    </body>
</html>
