<!DOCTYPE html>
<html>
  <head>
    <title>SimpleShop</title>
    <meta charset="utf-8" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'cafeyo/styles_cafe_list.css' %}"
     
    />
    <link
      rel="stylesheet"
      type="text/scss"
      href="{% static 'cafeyo/styles_cafe_list.scss' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'cafeyo/styles_cafe_list.css.map' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />


    
  </head>

    <body>      
      <div class="navbar">
        <a href="{% url 'cafeyo:index' %}" id="logo">
           <img src="{% static 'cafeyo/images/logo_4.png' %}" width="200">
         </a>
          <ul id="gate">
            <li><a href="{% url 'cafeyo:cafelist_category' gate_id=id_param category_id=1 %}">Study</a></li>
            <li><a href="{% url 'cafeyo:cafelist_category' gate_id=id_param category_id=2 %}">Franchise</a></li>
            <li><a href="{% url 'cafeyo:cafelist_category' gate_id=id_param category_id=3 %}">24h</a></li>
            <li><a href="{% url 'cafeyo:cafelist_category' gate_id=id_param category_id=4 %}">Take-out</a></li>
            <li><a href="{% url 'cafeyo:cafelist_category' gate_id=id_param category_id=5 %}">Dessert</a></li>
        </ul>
      </div>

      <div class= "hero-header"></div>
       <div>
      <div class="right-bottom">
        {% if id_param == 1 %}
        <h2>북문 cafes</h2>
        {% elif id_param == 2 %}
        <h2>동문 cafes</h2>
        {% elif id_param == 3 %}
        <h2>정문 cafes</h2>
        {% elif id_param == 4 %}
        <h2>쪽문 cafes</h2>
        {% endif %}
        <div class="cafe-container">
          {% if random_cafe %}
          <div class="reco-cafe">
            <a href="{% url 'cafeyo:results' random_cafe.id %}">
              <div class ="image">
                <img src="{% static random_cafe.cafe_path %}" width="250" height="200">
              </div>
                <div class ="information">
                <div id ="reco-deco" style="z-index: 3;">(추천)
                {{ random_cafe.카페명 }}</div>
                <h6>영업시간 : {{ random_cafe.영업시간 }}</h6>
                <h6>카테고리 : {{ random_cafe.카테고리 }}</h6>
              </div>
              </a>
            </div>
          {% endif %}
        {% for cafe in cafe_list %}
        <div class="cafe">
          <a href="{% url 'cafeyo:results' cafe.id %}">
            <div class ="image">
              <img src="{% static cafe.cafe_path %}" width="250" height="200">
            </div>
              <div class ="information">
                <h3>{{ cafe.카페명 }}</h3>
                <!-- <h6>전화번호: {{ cafe.전화번호 }}</h6>
                <h6>주소: {{ cafe.주소 }}</h6> -->
                <h6>영업시간: {{ cafe.영업시간 }}</h6>
                <h6>카테고리: {{ cafe.카테고리 }}</h6>
              </div>
            </a>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    </div>
    </body>
</html>
