<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Cafeyo - 경북대 카페 프로그램</title>
    {% load static %}
    <link
      rel="stylesheet"
      text="text/css"
      href="{% static 'cafeyo/styles.css' %}"
    />
  </head>
  <body>
    <div class="header">
      이부분은 헤더
      <div class="header__logo">
        <a href="{% url 'cafeyo:index' %}">
          카페요(로고 만들어서 이미지 넣기)
        </a>
      </div>
    </div>
    <a href="{% url 'cafeyo:cafelist' gate_id='1' %}">
      <div class="gate__button">
        북문테스트버튼
      </div>
    </a>
    <a href="{% url 'cafeyo:cafelist' gate_id='2' %}">
      <div class="gate__button">
        테스트버튼
      </div>
    </a>
    <a href="{% url 'cafeyo:cafelist' gate_id='3' %}">
      <div class="gate__button">
        테스트버튼
      </div>
    </a>
    <a href="{% url 'cafeyo:cafelist' gate_id='4' %}">
      <div class="gate__button">
        테스트버튼
      </div>
    </a>
  </body>
</html>
