<!DOCTYPE html>
<html>
  <head>
    <title>SimpleShop</title>
    <meta charset="utf-8" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'cafeyo/styles_index.css' %}"
    />
  </head>

  <body>
    <a href="#" class="logo">
      <img src="../../static/cafeyo/images/logo.png" width="300">
    </a>
     
    
    {% if gate_list %}
    <ul>
      <div class="gate">
        {% for gate in gate_list %}
        <li>
          <a href="{% url 'cafeyo:cafe_list' gate.id %}">
            <div class="gate__button">
              {{ gate.문이름 }}
              <p>문 버튼 이미지</p>
            </div>
          </a>
        </li>
        {% endfor %}
      </div>
    </ul>
    {% else %}
    <p>No gate...</p>
    {% endif %}

  </body>
</html>
